body {
    background:  black;
    padding:  0;
    margin:  0;
    margin-bottom: 4vw;
    font-family: Calibri;
}

h1
{
    margin: 0;
    padding: 0;
    font-size: 2.6vh;
    font-family: Calibri;
}

h2
{
    margin: 0;
    padding: 0;
    font-size: 8vh;
    font-family: 'Trebuchet MS';
    color: #FF8;
}

#templates, #data, #popups
{
    display:  none;
}

.non-selectable
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.jeopardy-table
{
    display: table;
}

.jeopardy-row
{
    display:  table-row;
}

.jeopardy-cell
{
    display:  table-cell;
    vertical-align: middle;
    text-align: center;
}

#board.jeopardy-table {
    margin: 0;
    margin-left:  auto;
    margin-right:  auto;
    table-layout: fixed;
    
    text-transform: uppercase;
    border-spacing: 1vh;
}

#board .clue-row {
    height: 14vh;
    cursor: default;
}

#board .clue-row .jeopardy-cell {
    border: 1px none gray;
    background: #009;
    border-radius: 1vh;
    color:  white;
    padding: 0.6vh;
    min-width:  19vh;
    width: 19vh;
    max-width: 19vh;
}

#board.jeopardy-table a
{
    text-decoration:  none;
}

#board.jeopardy-table a:visited
{    
    color:  #009;
}

/* general popup styles */
.overlay
{
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    left: 0;
    top: 0;
}

.popup
{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index:  1;
}

/* clue popup styles */

.clue-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90vw;
    height: 80vh;
    margin-left: -45vw;
    margin-top: -42.5vh;
    background: rgba(0, 0, 153, 0.85);
    border-radius: 2vw;
    
    color:  white;
}

.clue-popup .container
{
    height: 90%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
}

.clue-popup h1
{
    font-size: 7vh;
    text-align: center;
    text-transform: uppercase;
}

.clue-popup .jeopardy-table
{
    position: absolute;
    top: 5%;
    left: 5%;
    height: 90%;
    width: 90%;
}

.clue-popup .clue-text
{
    font-size: 8vh;
    font-family: Calibri;
}

.clue-popup .jeopardy-table img
{
    max-height: 55vh;
    max-width: 80vw;
}

.clue-popup .clue-table {
    height: 75% !important;
    top: 12.5% !important;
}

.show-answer-container
{
    vertical-align: bottom;
}

.show-answer
{
    font-size: 4vh;
    cursor: pointer;
    font-family: Calibri;
    z-index: 5;
}

/* daily double popup styles */
.daily-double-popup
{
    position: relative;
    background: rgba(0, 0, 153, 0.72);
    color:  white;
    width: 90vw;
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    border-radius: 10vh;
    font-family: Calibri;
    z-index: 10;
}

.daily-double-popup h1
{
    text-transform: uppercase;
    font-size: 10vw;
    padding-left: 10vw;
    white-space: nowrap;
    text-wrap: none;
    overflow: hidden;
    font-family: 'Trebuchet MS';
    color:  white;
    transform:  skewY(-10deg) translateY(10vh);
    background: linear-gradient(to bottom, #FF8819 0%, #FFCB3D 100%);
}

.daily-double-popup .wager-area
{
    position: absolute;
    bottom: 5vh;
    right: 5vw;
    
    font-size: 6vh;
}

.daily-double-popup .wager-area textarea
{
    width: 20vw;
    height:  6vh;
    overflow: hidden;
    white-space: nowrap !important;
    padding-left: 1vw;
    padding-right: 1vw;
    
    text-overflow: clip;
    text-wrap: none;
    font-size: 5vh;
    font-family: Calibri;
    text-align: right;
    border-radius: 1vh;
    resize: none;
}

.daily-double-popup .button
{
    background: rgba(120, 0, 0, 1);
    font-size: 90%;
    border-radius: 1vh;
    text-align: center;
    margin: 2vh;
    cursor: pointer;
}

.daily-double-popup .button:active
{
    background: black;
}

/* final jeopardy popup styles */
.final-jeopardy-popup
{
    position: relative;
    width: 90%;
    height: 90vh;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    background: white;
}

.final-jeopardy-popup .wager-list
{
    overflow: auto;
    height: 20vh;
}


/* add team popup styles */

.add-team-popup-container
{
    z-index: 3;
}

.add-team-popup
{
    position: absolute;
    background: white;
    color: black;
    width: 40vh;
    height: 20vh;
    
    bottom: 12vh;
    right: 1vw;
    border-radius: 1vh;
    
    padding: 1vw;
    
    font-size: 4vh;
    font-family: Calibri;
}

.add-team-popup textarea
{
    width: 38vh;
    height: 6vh;
    font-size: 5vh;
    font-family: Calibri;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    resize: none;
}

.add-team-popup button
{
    width: 38vh;
    font-size: 3vh;
    font-family: Calibri;
}

/* score box styles */
#score-box
{
    display: table;
    position: fixed;
    bottom: -1vw;
    right: 0;
    color:  white;
    z-index: 2;
    width: 100vw;
    max-width: 100%;
    border-spacing: 1vw;
}

#score-box ul.team-list
{
    display: table-row;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 2vw;
    margin-right: 2vw;
}

#score-box ul.team-list li.filler
{
    opacity: 0;
    border: none;
    max-width: 100% !important;
    
}

#score-box ul.team-list li
{
    display: table-cell;
    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;
    border: 2px solid white;
    border-bottom-style: none;
    background: black;
}

#score-box ul.team-list li.team-score
{
    display: table-cell;
    width: 15vw;
    max-width: 15vw;
    background: black;

    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 0.5vh;
    
    font-family: Calibri;
    cursor: pointer;
}

#final-jeopardy-button
{
    width: 8vw !important;
    font-size: 2vw;
    line-height: 2vw;
    text-align: center;
    padding: 0;
    vertical-align: middle;
    font-variant: small-caps;
    cursor:  pointer;
}

#final-jeopardy-button:active
{
    background: white !important;
    color: black;
}

#add-team-button
{
    margin: 0;
    padding: 0;
    min-height: 5vw;
    width: 4vw !important;
    text-align: center;
    vertical-align: middle;
    font-size: 5vw;
    line-height: 5vw;
    cursor: pointer;
    user-select: none;
}

#add-team-button:active
{
    background: white !important;
    color: black;
}

.team-stats
{
    margin-right: 3vw;
}

.score-buttons
{
    float: right;
    text-align: center;
    vertical-align: middle;
}

.score-buttons div
{
    border: 2px solid white;
    border-radius: 100px;
    width: 2vw;
    height: 2vw;
    font-size: 2vw;
    line-height: 1.8vw;
    margin: 0.1vw;
    background: inherit;
    cursor: pointer;
}

.score-buttons div:hover
{
    background: white;
    color:  black;
}

#score-box .team-name-container
{
    font-size: 1.8vw;
    text-align: right;
    font-variant: small-caps;
    text-wrap: none;
    white-space:  nowrap;
    overflow: hidden; 
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;

    /*   
    box-sizing: border-box;
    width: 100%;
    */
}

#score-box .team-name
{
    font-family: Calibri;
    
    /*
    width: 100%;
    display: inline-block;
    animation: initial;
    */
}

/* marquee animation stuff */
/*
#score-box .team-name:hover {
    animation: marquee 3s linear infinite;
    animation-play-state: running;
}

@keyframes marquee {
    0%   { transform: translate(100%, 0); }
    100% { transform: translate(-100%, 0); }
}
*/

#score-box .team-points
{
    font-size: 2.5vw;
    text-align: right;
    font-family: Calibri;
    line-height: 2.5vw;
}