#data {
    display: none;
}

.team#popups, #categories
{
    display: none;
}

.non-selectable
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.table {
    display: table;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
}

.popup {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.popup.closing {
    animation: popup-close 0.5s;
}

@keyframes popup-close
{
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes overlay-fade
{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    animation: overlay-fade 0.4s;
}

.closing .overlay
{
    animation: overlay-fade 0.4s linear 0 1 reverse;
}

.popup-box {
    animation: slide-in 0.3s;
}

.closing .popup-box {
    animation: slide-out 0.4s;
}

@keyframes slide-in
{
    0% {
        opacity: 0;
        transform: translateY(-20vh) scale(0.6);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@keyframes slide-out
{
    0% {
        transform: translateX(0) scale(1);
    }
    100% {
        transform: translateX(-50vh) scale(0.6, 0.01);
    }
}

body {
    background: black;
    font-family: Calibri;
}

/* clue table styles */
.clue-table
{
    color:  white;
    border-spacing: 1vh;
    margin-left: auto;
    margin-right: auto;
    max-width: 100vw;
    margin-bottom: 7vh;
}

.clue-table .row {
    height: 14vh;
}

.clue-table .cell {
    border: 0.2vh solid black;
    color:  white;
    padding: 0.6vh;
    width: 19vh;
    max-width: 19vh;
    
    vertical-align: middle;
    text-align: center;
    
    overflow: hidden;
    background: #009;
    border-radius: 1vh;
}

.clue-table .cell.empty {
    border: none;
    background: none;
}

.clue-table .cell.category
{
    margin: 0;
    padding: 0;
    font-size: 2.6vh;
    font-family: Calibri;
    font-weight: bold;
    text-transform: uppercase;
}

.clue-table .cell.clue
{
    font-size: 8vh;
    font-family: 'Trebuchet MS';
    color: #FF8;
    white-space: nowrap;

    transition: transform 0.05s, z-index, background 0.1s, color 0.1s;
    transform: scale(1);
    z-index: 0;
    cursor: pointer;
}


.clue-table .cell.clue.disabled {
    color: rgba(0, 0, 0, 0);
    cursor: default;
}

.clue-table .cell.clue:not(.disabled):hover {
    background: #0404bd;
    color: white;
    transition: transform 0.1s, z-index, background 0.1s, color 0.1s;
    transform: scale(1.2);
    z-index: 1
}

/* clue popup styles */
.clue-popup
{
    position: absolute;
    left: 10vw;
    top: 5vh;
    border-radius: 5vh;
    padding: 2vh 1vw 2vh 1vw;
    width:  80vw;
    height: 80vh;
    color:  White;
    background:  rgba(0, 0, 153, 0.76);
}

.clue-popup h1
{
    text-align: center;
    font-size: 5vh;
    line-height: 5vh;
    margin: 0;
    padding: 0;
    font-variant: small-caps;
}

.clue-popup>.table
{
    position: absolute;
    left: 2%;
    top: 9vh;
    width: 96%;
}

.clue-popup .container
{
    font-size: 7vh;
    text-align: center;
    height: 65vh;
    line-height: 7vh;
}

.clue-popup .container>.table
{
    position: absolute;
    height: 65vh;
    width: 100%;
}

.clue-popup .container>.table .cell
{
    vertical-align: middle;

}

.clue-popup .container>.table .cell img
{
    width: auto;
    max-height: 65vh;
    object-fit: fill;
    background: white;
    animation: image-animation 0s ease;
    animation-fill-mode: forwards;
}

@keyframes image-animation
{
    0% { transform: initial; }
    
    20% { transform: scale(1.4); }
    80% { transform: scale(1.4); }
    100% { transform: scale(1); }
}

.clue-popup .controls-row
{
    height: 4vh;
    text-align: center;
    font-size: 5vh;
}

.clue-popup .controls-row .answer-timer-cell
{
    width: 65vw;
    height: 5vh;
}

.clue-popup .controls-row .answer-timer {
    margin-left: auto;
    margin-right: auto;
    height: 4vw;
    width: 42vw;
    font-size: 2.5vw;
    line-height: 4vw;
    background: black;
    color: black;
    text-shadow: 0 0 8px;
    overflow: hidden;
    border-radius: 1vw;
    transition: color 0.3s ease, transform 0.2s, opacity 0.2s, text-shadow 0.2s ease;
    transform: scale(1, 1);
    cursor: pointer;
}

.clue-popup .controls-row .hide-toggle
{
    transform: scale(0.1, 0.1);
}

.clue-popup .controls-row .answer-timer.disabled
{
    cursor: default;
}

.clue-popup .controls-row .answer-timer:not(.disabled):hover
{
    transform: translateY(-1vh) scale(1.1, 1.1);
}

@-moz-document url-prefix() {
    .clue-popup .controls-row .answer-timer {
        width: 43vw;
        font-size: 2vw;
    }
}

.clue-popup .controls-row .answer-timer.activated
{
    color: red;
    
    transition: color 0.1s, transform 0.2s, text-shadow 0.1s;
}

.circle-button
{
    display: inline-block;
    border: 0.4vh solid white;
    width: 8vh;
    margin-left: 1vw;
    margin-right: 1vw;
    height: 7vh;
    padding-top: 1vh;
    border-radius: 100%;
    transition: transform 0.1s, border 0.1s, color 0.1s, opacity 0.1s;
    text-align: center;
    color: white;
    font-size: 4.5vh;
    cursor: pointer;
}

.circle-button.disabled
{
    cursor: default;
    opacity: 0.3;
}

.circle-button.disabled.hide-toggle
{
    opacity:  0;
}

.circle-button:not(.disabled):hover
{
    transition: transform 0.1s, border 0.1s, color 0.1s, background 0.1s;
}

.circle-button.activated:not(.disabled)
{
    background: white;
    color:  black;
    transition: transform 0.1s, border 0.1s, color 0.1s, background 0.1s;
}

.circle-button:not(.disabled):active
{
    background: white;
    color:  black;
    transition: transform 0.1s, border 0.1s, color 0.1s, background 0.1s;
    transform: scale(1.2, 1.05);
}

.close-button
{
    background: rgba(0, 0, 0, 0.4);
    font-size: 8vh;
    line-height: 5vh;
    position: absolute;
    right: -2vh;
    top: -2vh;
}

.clue-popup .round-timer
{
    width: 10vh;
    border-radius: 100%;
    border: 0.4vh dashed rgba(255, 255, 255, 0.4);
    font-size: 8vh;
    position: absolute;
    left: 3vw;
    top: 2vh;
    text-align: center;
    transition: opacity 0.2s, transform 0.2s;
}

.clue-popup .hide-toggle
{
    transform: scale(0.3);
}

.clue-popup .container :not(.hide-toggle)
{
    transition: opacity 0.4s, transform 0.4s;
    transform: scale(1);
}

.clue-popup .container .hide-toggle
{
    transition: opacity 0.4s, transform 0.4s;
    transform: scale(0.3);
}

.hide-toggle
{
    opacity: 0;
}

#debug
{
    display: block;
}

#bottom-menu .team-table.table
{
    position: fixed;
    left: 0;
    bottom: -4vh;
    width: 98vw;
    margin-left: 1vw;
    border-spacing: 0.4vw 0;
    pointer-events: none;
    z-index: 10;
    opacity: 0;
    animation: bottom-menu-appear 0.3s ease 0.5s;
    animation-fill-mode: forwards;
}

@keyframes bottom-menu-appear
{
    0% { opacity: 0; }
    100% { opacity: 1; }
}

#bottom-menu .team-table .cell.button
{
    margin: 0;
    color:  rgba(255, 255, 255, .5);
    background: black;
    border: 0.25vh solid rgba(255, 255, 255, 0.1);
    border-radius: 2vh;
    pointer-events: initial;
    padding-bottom: 2vh;
    
    transition: transform 0.2s ease, color 0.1s, background 0.1s, height 0.2s, border-color 0.2s;
    height: 10vh;
}

#bottom-menu .cell.team .buttons .circle-button
{
    display: block;
    height: 3vh;
    width: 3vh;
    font-size: 3vh;
    line-height: 2.5vh;
    margin-bottom: 0.6vh;
    padding: 0;
    border-width: 0.25vh;
    border-color: rgba(255, 255, 255, 0.4);
    color: rgba(255, 255, 255, 0.4);
}

#bottom-menu .team {
    transition: transform 0.3s ease;
}

#bottom-menu .team.hide-toggle {
    transform: translateY(5vh);
}

#bottom-menu .cell.team .buttons .circle-button:not(.disabled):active {
    color: black;
}


#bottom-menu .cell.button:hover {
    transform: translateY(-1vh);
    border-color: rgba(255, 255, 255, 0.3);
    color: white;
}

#bottom-menu .team-table .cell.button:not(.team):active
{
    color: black;
    background: white;
}

#bottom-menu .team-table .cell.team
{
    min-width: 18vh;
    max-width: 24vh;
    width: 1%;
    padding: 1vh;
}

#bottom-menu .team .stats
{
    display: block;
    overflow-x: hidden;
    margin: 0;
}

#bottom-menu .team .buttons
{
    float: right;
    margin-right: 1.6vh;
    margin-top: -0.5vh;
    width: 3vh;
}

#bottom-menu .team input {   
    width: 100%;
    border: none;
    border-radius: 0.7vh;
    background: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0.9);
    margin-left: 0vh;
    padding: 0;
    transition: background 0.1s, border 0.1s, color 0.1s;
}


#bottom-menu .team input:hover {
    background: rgba(255, 255, 255, 0.2);
}

#bottom-menu .team input:focus {
    background: rgba(255, 255, 255, 0.8);
    color: black;
}

#bottom-menu .team .team-name
{
    display: block;
    font-size: 2vh;
    padding: 0;
    overflow: hidden;
    
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}

#bottom-menu .team .team-score
{
    display: block;
    font-size: 4vh;
    padding: 0;
}
#bottom-menu .filler
{
    width: 50%;
}

#bottom-menu .final-jeopardy-button.button
{
    font-size: 3vh;
    line-height: 0vw;
    text-align: center;
    vertical-align: middle;
    padding-left: 1vh;
    padding-right: 1vh;
}

#bottom-menu .add-team-button.button
{
    font-size: 8vh;
    line-height: 0;
    vertical-align: middle;
    padding-left: 2vh;
    padding-right: 2vh;
}

.add-team-popup-container {
    z-index: 20;
}

.add-team-popup-container .overlay {
    background: rgba(255, 255, 255, 0.2);
}

.add-team-popup {
    position: absolute;
    right: 3vh;
    bottom: 15vh;
    background: white;
    border-radius: 4vh;
    width: 30vw;
    height: 15vh;
    
    padding: 3vh;
}

.add-team-popup h1 {
    margin: 0;
    font-size: 4vh;
    font-weight: normal;
}

.add-team-popup input {
    font-size: 4vh;
    width: 100%;
}

.add-team-popup button {
    margin-top: 1vh;
    font-size: 2.5vh;
}

.add-team-popup .arrow {
    position: absolute;
    right: 2vh;
    bottom: -5vh;
    font-size: 8vh;
    color: white;
    transform: scaleX(0.75)
}

.team-editor-popup-container {
    z-index: 20;
}

.team-editor-popup {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 30vw;
    
    background: white;
    padding: 1vw;
    border-radius: 4vh;
    text-align: center;
    margin-top: 20vh;
    color: white;
    border: 0.25vh solid white;
}

.team-editor-popup>div {
    margin-top: -0.1vh;
    margin-bottom: -0.1vh;
}

.team-editor-popup h1 {
    margin: 0;
    font-size: 3vh;
    font-weight: bold;
}

.team-editor-popup h2 {
    margin: 0;
    font-size: 4.5vh;
    font-weight: normal;
}

.team-editor-popup .label {
    display: inline-block;
    width: 5vw;
    text-align: left;
    font-size: 3vh;
}

.team-editor-popup input {
    height: 100%;
    width: 20vw;
    font-size: 4vh;
    height: 4vh;
}

.team-editor-popup button {
    vertical-align: middle;
    width: 20vw;
    margin-top: -0.2vh;
    margin-bottom: -0.2vh;
    height: fill-available;
    font-size: 2.5vh;
}

.team-editor-popup div + button
{
    margin-top: 2vh;
}

.final-jeopardy-wager-popup-container {
    z-index:  10;
}

.final-jeopardy-wager-popup {
    position: absolute;
    background:  rgba(0, 0, 153, 0.76);
    padding: 2vh 1vw 2vh 1vw;
    text-align: center;
    width: 80vw;
    left: 9vw;
    top: 15vh;
    border-radius: 2vw;
   
    color: white;
    font-family: Calibri;
}

.final-jeopardy-wager-popup h1, .final-jeopardy-wager-popup h2, .final-jeopardy-wager-popup h3 {
    margin: 0;
}

.final-jeopardy-wager-popup h1 {
    font-size: 8vh;
    line-height: 8vh;
    text-transform: uppercase;
    font-weight: normal;
}

.final-jeopardy-wager-popup .category-name {
    font-size: 6vh;
    font-variant: small-caps;
}

.final-jeopardy-wager-popup h3 {
    font-size: 3vh;
}

.final-jeopardy-wager-popup .wager-list-container {
    max-height: 30vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.final-jeopardy-wager-popup .wager-list {
    padding: 0;
    table-layout: auto;
    border-spacing: 1vw 0.8vh;
    width: 100%;
}

.final-jeopardy-wager-popup .wager-list .wager {
    margin: 0;
    padding: 0;
}

.final-jeopardy-wager-popup .wager-list .wager .cell {
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.final-jeopardy-wager-popup .wager-list .wager .team-color-container {
    max-width: 40%;
    width: 0%;
    text-align: right;
}

.final-jeopardy-wager-popup .wager-list .wager .team-name-container {
    text-align: right;
    font-size: 2.5vh;
    line-height: 1vh;
    width: 1%;
    white-space: nowrap;
}

.final-jeopardy-wager-popup .wager-list .wager .team-wager-container {
    text-align: left;
    width: 50%;
}

.final-jeopardy-wager-popup .wager-list .wager .valid-input {
    display: inline-block;
    display: none;
    height: 2vh;
    text-align: center;
    font-size: 2.5vh;
    line-height: 1.8vh;
    background: white;
    color: red;
}

.final-jeopardy-wager-popup .wager-list .wager .valid-input.valid {
    color: green;
}

.final-jeopardy-wager-popup .wager-list .wager .color-target {
    display: inline-block;
    width: 1.5vw;
    height: 1vw;
    margin: 0;
    margin-right: 0.5vw;
    border: 0.3vh solid rgba(255, 255, 255, 0.5);
    transform: skewX(-20deg);
    transition: transform 0.3s;
}

.final-jeopardy-wager-popup .wager-list .wager .color-target:hover {
    transform: skewX(-30deg);
}

.final-jeopardy-wager-popup .wager-list .wager .color-target:active {
    transform: skewX(-20deg) rotateZ(90deg) scale(0.95);
}

.final-jeopardy-wager-popup .wager-list .wager input {
    margin: 0;
    padding: 0;
    padding-left: 1vh;
    padding-right: 1vh;
    width: 20%;
    text-align: right;
    font-size: 3vh;
    background: rgba(255, 130, 130, 0.7);
    border-radius: 0.5vh;
    color: black;
    border: none;
    transition: background 0.1s, color 0s, transform 0.3s;
}

.final-jeopardy-wager-popup .wager-list .wager input:hover {
    background: rgba(255, 155, 155, 0.8);
    transform: skewX(-5deg);
}

.final-jeopardy-wager-popup .wager-list .wager input:focus {
    background: rgba(255, 180, 180, 0.9);
}

.final-jeopardy-wager-popup .wager-list .wager input.valid {
    background: rgba(130, 255, 130, 0.7);
    color: rgba(0, 0, 0, 0.05);
}

.final-jeopardy-wager-popup .wager-list .wager input.valid:hover {
    background: rgba(155, 255, 155, 0.8);
}

.final-jeopardy-wager-popup .wager-list .wager input.valid:focus {
    background: rgba(180, 255, 180, 0.9);
}

.final-jeopardy-wager-popup .reveal-clue {
    font-size: 4vh;
    height: 5vh;
    width: auto;
    border-radius: 2vh;
    background: rgba(139, 231, 139, 0.54);
    margin-top: 2vh;
    padding: 0 3vh 0 3vh;
}

.final-jeopardy-wager-popup .reveal-clue.circle-button:hover {
    background: black;
}

.final-jeopardy-wager-popup .reveal-clue.circle-button:active {
    background: white;
}